<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="icon" type="image/png" href="/public/assets/favicon-.png">
    <title>ScannerOral</title>
</head>
<body>
    <div class="container">
        <nav>
           <div class="logo">
            <a href="#">
        <img src="/public/assets/image.png" alt="Logo ScanOral" class="logo-img"></a></div>
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="/views/sobre.html">Sobre</a></li>
                <li><a href="https://www.instagram.com/scanneroral?igsh=MXRmd3ZjcW9heHByaw==">Contato</a></li>
            </ul>
        </nav>
        
        <header class="header">
            <div class="header-content">
                <h1>Soluções inteligentes para <span>saúde bucal</span></h1>
                <p>Facilite seus diagnósticos com nossa tecnologia avançada de escaneamento oral</p>
            </div>
             <div class="image">
          <span class="image__bg"></span>
          <img src="/public/assets/dentist.png" alt="header image" />
          <div class="image__content image__content__1">
            <span><i class="ri-user-3-line"></i></span>
            <div class="details">
              <h4>Facilidade nas consultas</h4>
            </div>
          </div>
        </header>
        
        <footer class="footer">
            <div class="footer-content">
                <div class="footer-logo">
                    <img src="/public/assets/image.png" alt="Logo ScanOral">
                </div>
                <div class="footer-links">
                    <ul>
                        <li><a href="#">Termos de Serviço</a></li>
                        <li><a href="#">Política de Privacidade</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
                <div class="footer-social">
                    <a href="#"><i class="ri-facebook-fill"></i></a>
                    <a href="#"><i class="ri-instagram-line"></i></a>
                    <a href="#"><i class="ri-linkedin-fill"></i></a>
                </div>
            </div>
            <div class="footer-copyright">
                <p>&copy; 2025 ScannerOral. Todos os direitos reservados.</p>
            </div>
        </footer>
    </div>
</body>
</html>